---
layout: "layout-en"
title: Local data with Middleman data-folder feature
description: Data from data/food.json & data/people.yml. See source/pages/json_local_data.*.html.erb.
---
<% content_for :lang_url do %>/tr/json_local_data/<% end %>
<% content_for :lang_title do %>Türkçe<% end %>
<% content_for :subm1_show do %>show<% end %>

<div class="container" id="content">
    <div class="row">
        <div class="col-12 order-0 order-lg-0">
            <h1><%= current_page.data.title %></h1>
            <hr>
        </div>
        <div class="col-lg-3 order-2 order-lg-1">
            <%= partial "partials/_leftmenu-en" %>
        </div>
        <div class="col-lg-9 order-1 order-lg-2">
            <p>Data from <code>data/food.json</code> & <code>data/people.yml</code> See <code>source/pages/json_local_data.*.html.erb</code>.</p>
            <hr>
            <ol>
                <% data.food.fruits.each do |z| %>
                <li><%= z %></li>
                <% end %>
            </ol>
            <ul>
                <% data.people.friends.each do |f| %>
                <li><%= f %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>